<div class="grid p-fluid">
	<div class="col-12 md:col-6">
		<div class="card p-fluid">
            <h5>Essential</h5>
            <div class="p-formgrid grid">
				<div class="col-6">
					<div class="field">
                        <label for="employmentDate">Date of employment</label>
                        <p-calendar inputId="employmentDate" [formControl]="formGroup.controls.employmentDate" [showIcon]="true"></p-calendar>
                    </div>
				</div>
                <div class="col-6">
					<div class="field">
                        <label htmlFor="position">Position</label>
                        <p-dropdown 
                            id="position"
                            [options]="positions" 
                            placeholder="Select the position" 
                            optionLabel="value"
                            optionValue="id"
                            [filter]="true"
                            filterBy="value" 
                            [showClear]="true"
                            [formControl]="formGroup.controls.positionItemId">
                        </p-dropdown>                    
                    </div>
				</div>
                <div class="col-4">
					<div class="field">
                        <label htmlFor="occupationCode">Occupation code</label>
                        <p-dropdown 
                            id="occupationCode"
                            [options]="codes" 
                            placeholder="Select the occupation code" 
                            optionLabel="code"
                            [filter]="true"
                            filterBy="code" 
                            optionValue="code"
                            [showClear]="true"
                            [formControl]="formGroup.controls.occupationCodeItemId"
                        >
                            <ng-template let-occupationItem pTemplate="item">
                                <div class="flex align-items-center">
                                    <span class="ml-2">{{occupationItem.code}}</span>
                                    <span class="ml-2">{{occupationItem.value}}</span>
                                </div>
                            </ng-template>
                        </p-dropdown> 
                        
                    </div>
				</div>

                <div class="col-8">
                    <div class="field">
                        <label>Job description</label>
                        <input pInputText 
                            [value]="findOccupationCode(formGroup.controls.occupationCodeItemId.value)?.value" 
                            [disabled]="true"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 ">
        <div class="card p-fluid ">
                <h5>Contract period</h5>
                <div class="p-formgrid grid pt-4 mb-4">
                    <div class="field col-4 py-0">
                        <label for="startDate">Start date</label>
                        <p-calendar inputId="startDate" [formControl]="formGroup.controls.startDate" [showIcon]="true"
                            [maxDate]="formGroup.controls.terminationDate.value"></p-calendar>
                    </div>
                    <div class="field col-4 py-0">
                        <label for="terminationDate">Termination date</label>
                        <p-calendar inputId="terminationDate" [formControl]="formGroup.controls.terminationDate" [showIcon]="true"
                            [minDate]="formGroup.controls.startDate.value"></p-calendar>
                    </div>
                    <div class="field col-4 py-0">
                        <label for="calendar">Date of sign</label>
                        <p-calendar inputId="calendar" [formControl]="formGroup.controls.conclusionDate" [showIcon]="true"></p-calendar>
                    </div>

                    <div class="field col-6 py-0">
                        <div class="field">
                        <label htmlFor="contractsType">Type</label>
                        <p-dropdown 
                            id="contractsType"
                            [options]="contractsType" 
                            placeholder="Select the contract type" 
                            optionLabel="label"
                            optionValue="value"
                            [formControl]="formGroup.controls.contractType">
                        </p-dropdown>                    
                    </div>
                </div>
        
                <div class="field col-6 py-0">
                    <label htmlFor="workplace">Workplace</label>
                    <p-dropdown 
                        id="workplace"
                        [options]="workplaces" 
                        placeholder="Select workplace" 
                        [filter]="true"
                        [showClear]="true"
                        optionLabel="value"
                        filterBy="value"
                        optionValue="id"
                        [formControl]="formGroup.controls.workplaceItemId">
                    </p-dropdown>                    
                </div>
            </div>
        </div>
	</div>

<div class="col-6 md:col-3">
</div>

<div class="col-12 md:col-6">
    <div class="card p-fluid">
        <h5>Salary information</h5>
        <div class="p-formgrid grid pt-4">
            <div class="field col-4 py-0">
                <label>Full time equipment</label>
                <div class="p-formgrid grid align-items-center">
                    <div class="col">
                        <input pInputText [formControl]="formGroup.controls.fteNumerator" type="number"/>
                    </div>
                    <p>/</p>
                    <div class="col">
                        <input pInputText [formControl]="formGroup.controls.fteDenominator" type="number"/>
                    </div>
                </div>
            </div>
            
            <div class="field col-4 py-0">
                <label htmlFor="Salary">Salary</label>
                <input pInputText id="Salary" type="number" [formControl]="formGroup.controls.salary" />
            </div>

            <div class="field col-4 py-0">
                <label htmlFor="paymentType">Salary Type</label>
                <p-selectButton 
                    id="paymentType"
                    [options]="salaryTypes" 
                    [formControl]="formGroup.controls.salaryType"
                    optionLabel="value" 
                    optionValue="value" />
            </div>
        </div>
    </div>
</div>
