<div class="grid p-fluid">
	<div class="col-12 md:col-6">
		<div class="card p-fluid">
            <h5>Essential</h5>
            <div class="p-formgrid grid">
                <!-- Изменить названия переменых на нужные -->
                <!-- Дата начала работы -->
				<div class="col-6">
					<div class="field">
                        <label htmlFor="name1">Date of start work</label>
                        <p-calendar inputId="calendar" [formControl]="" [showIcon]="true"></p-calendar>
                    </div>
				</div>
                <!-- Позиция, выплывающим списком -->
                <div class="col-6">
					<div class="field">
                        <label htmlFor="surname1">Position</label>
                        <p-dropdown 
                        id="country"
                        [options]="" 
                        placeholder="Select the position" 
                        optionLabel="name"
                        [filter]="true"
                        filterBy="name" 
                        [showClear]="true"
                        [formControl]="">
                        </p-dropdown>                    
                    </div>
				</div>
                <!-- Код профессии, выплывающим списком -->
                <div class="col-6">
                    <div class="col-6 py-0">
                        <h6>Okres próbny</h6>
                        <div class="field grid formgrid">
                            <div class="col-6 py-0">
                                <div class="field-radiobutton">
                                    <p-radioButton name="gender" value="Male" [formControl]="" id="male"></p-radioButton>
                                    <label for="male">Yes</label>
                                </div>
                            </div>
                            <div class="col-6 py-0">
                                <div class="field-radiobutton">
                                    <p-radioButton name="gender" value="Female" [formControl]="" id="female"></p-radioButton>
                                    <label for="female">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
					<div class="field">
                        <label htmlFor="pesel1">Occupation code</label>
                        <input pInputText id="pesel1" type="text" [formControl]=""/>
                    </div>
				</div>
                <div class="col-3"></div>
            </div>
        </div>
        
    </div>
    <div class="col-12 md:col-6">
        <div class="card p-fluid">
            <div class="p-formgrid grid"></div>
                <h5>Dates</h5>
                <div class="p-formgrid grid pt-4">
                    <div class="field col-4 py-0">
                        <label for="calendar">From</label>
                        <p-calendar inputId="calendar" [formControl]="" [showIcon]="true"></p-calendar>
                    </div>
                    <div class="field col-4 py-0">
                        <label for="calendar">Till</label>
                        <p-calendar inputId="calendar" [formControl]="" [showIcon]="true"></p-calendar>
                    </div>
                    <div class="field col-4 py-0">
                        <label for="calendar">Signed</label>
                        <p-calendar inputId="calendar" [formControl]="" [showIcon]="true"></p-calendar>
                    </div>

                    <div class="field col-6 py-0">
                        <div class="field">
                        <label htmlFor="surname1">Type</label>
                        <p-dropdown 
                        id="country"
                        [options]="" 
                        placeholder="Select the contract type" 
                        optionLabel="name"
                        [filter]="true"
                        filterBy="name" 
                        [showClear]="true"
                        [formControl]="">
                        </p-dropdown>                    
                    </div>
                </div>
        
                <div class="field col-6 py-0">
                    <label htmlFor="email2">Miasto podpisania</label>
                    <p-dropdown 
                        id="country"
                        [options]="" 
                        placeholder="Select a city" 
                        optionLabel="name"
                        [filter]="true"
                        filterBy="name" 
                        [showClear]="true"
                        [formControl]="">
                    </p-dropdown>                    
                </div>
            </div>
        </div>
	</div>

    <div class="col-6 md:col-3">
    </div>

   <div class="col-12 md:col-6">
    <div class="card p-fluid">
        <div class="p-formgrid grid">
            <h5>Salary</h5>
            <div class="p-formgrid grid pt-4">
                <div class="field col-3 py-0">
                    <label class="ml-6">Full time</label>
                    <input pInputText id="houseNumber" type="text" [formControl]="" />
                </div>
                <h1>/</h1>
                <div class="field col-3 py-0">
                    <label>equipment</label>
                    <input pInputText id="flatNumber" type="text" [formControl]="" />
                </div>
                <div class="field col-4 py-0">
                    <label htmlFor="flatNumber">Salary</label>
                    <input pInputText id="flatNumber" type="text" [formControl]="" />
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
