
<div class="grid p-fluid">
	<div class="col-12 md:col-6">
		<div class="card p-fluid">
            <div class="p-formgrid grid">
                <div class="field col-5">
					<ngp-image-picker
                        ($imageChanged)="onImageChanged($event)"
                        [_config]="config"
                        [_imageSrc]="createService.imageSrc"
                    ></ngp-image-picker>
				</div>

                <div class="col-7">
					<div class="field">
                        <label htmlFor="name1">Name</label>
                        <input required pInputText id="name1" type="text" [formControl]="createService.personalForm.controls.name" aria-describedby="name1-help" />
                    </div>
                    <div class="field">
                        <label htmlFor="surname1">Surname</label>
                        <input required pInputText id="surname1" type="text" [formControl]="createService.personalForm.controls.surname" aria-describedby="surname1-help"/>
                    </div>
                    <div class="field">
                        <label htmlFor="pesel1">Pesel</label>
                        <input pInputText id="pesel1" type="text" [formControl]="createService.personalForm.controls.pesel"/>
                    </div>
				</div>
            </div>
		</div>
		
		<div class="card p-fluid">
            <h5>Additional Data</h5>
			<div class="p-formgrid grid pt-4">
                <div class="field col-6 py-0">
                    <label for="calendar">Birthdate</label>
                    <p-calendar 
                        inputId="calendar" 
                        [formControl]="createService.personalForm.controls.birthdate" 
                        [showIcon]="true"></p-calendar>
                </div>

                <div class="field col-6 py-0">
                    <label htmlFor="nip1">Nip</label>
                    <input pInputText id="nip1" type="text" [formControl]="createService.personalForm.controls.nip"/>
                </div>
    
                <div class="field col-6 py-0">
                    <label htmlFor="email2">Email</label>
                    <input pInputText id="email2" type="email" [formControl]="createService.personalForm.controls.email"/>
                </div>

                <div class="field col-6 py-0">
                    <label htmlFor="Phone">Phone</label>
                    <input pInputText id="Phone1" type="text" [formControl]="createService.personalForm.controls.phoneNumber"/>
                </div>

                <div class="col-6 py-0">
                    <div class="field grid formgrid">
                        <div class="col-6 py-0">
                            <div class="field-radiobutton">
                                <p-radioButton name="gender" value="Male" [formControl]="createService.personalForm.controls.gender" id="male"></p-radioButton>
                                <label for="male">Male</label>
                            </div>
                        </div>
                        <div class="col-6 py-0">
                            <div class="field-radiobutton">
                                <p-radioButton name="gender" value="Female" [formControl]="createService.personalForm.controls.gender" id="female"></p-radioButton>
                                <label for="female">Female</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>

    <div class="col-12 md:col-6">
		<div class="card p-fluid">
            <h5>Address</h5>
            <div class="p-formgrid grid pt-4">
                <div class="field col-12 py-0">
                    <label htmlFor="country">Country</label>
                    <p-dropdown 
                        id="country"
                        [options]="countries" 
                        placeholder="Select a Country" 
                        optionLabel="name"
                        [filter]="true"
                        filterBy="name" 
                        [showClear]="true"
                        [formControl]="createService.personalForm.controls.address.controls.country">

                        <ng-template let-country pTemplate="item">
                            <div class="flex align-items-center">
                                <img src="assets/images/flag/flag_placeholder.png" 
                                        [class]="'flag flag-' + country.code.toLowerCase()" 
                                        style="width:21px"/>
                                <span class="ml-2">{{country.name}}</span>
                            </div>
                        </ng-template>
                    </p-dropdown>
				</div>

                <div class="field col-4 py-0">
                    <label htmlFor="city">City</label>
                    <input pInputText id="city" type="text" 
                        [formControl]="createService.personalForm.controls.address.controls.city"/>
                </div>
                
                <div class="field col-4 py-0">
                    <label htmlFor="district">District</label>
                    <input pInputText id="district" type="text" 
                        [formControl]="createService.personalForm.controls.address.controls.district"/>
                </div>

                <div class="field col-4 py-0">
                    <label htmlFor="postCode">Postal Code</label>
                    <p-inputMask 
                        id="postCode"
                        mask="99-999"
                        [formControl]="createService.personalForm.controls.address.controls.postCode"
                        placeholder="00-000" />
                </div>
                
                <div class="field col-6 py-0">
                    <label htmlFor="street">Street</label>
                    <input pInputText id="street" type="text" 
                        [formControl]="createService.personalForm.controls.address.controls.street"/>
                </div>

                <div class="field col-3 py-0">
                    <label htmlFor="houseNumber">House Number</label>
                    <input pInputText id="houseNumber" type="text" 
                        [formControl]="createService.personalForm.controls.address.controls.houseNumber"/>
                </div>

                <div class="field col-3 py-0">
                    <label htmlFor="flatNumber">Flat Number</label>
                    <input pInputText id="flatNumber" type="text" 
                        [formControl]="createService.personalForm.controls.address.controls.flatNumber"/>
                </div>
            </div>
		</div>

        <div class="card p-fluid">
            <h5>Payment Method</h5>
            <div class="p-formgrid grid pt-4">
                <div class="field col-4 py-0">
                    
                    <label htmlFor="paymentType">Type</label>
                    <p-selectButton 
                        id="paymentType"
                        [options]="paymentTypeOptions" 
                        [formControl]="createService.personalForm.controls.paymentMethod.controls.type"
                        optionLabel="label" 
                        optionValue="value" />
                </div>

                <div class="field col-8 py-0">
                    <label htmlFor="iban">IBAN</label>
                    <p-inputMask 
                        id="iban"
                        mask="aa99 **** 9999 9999 9999? 9999 9999 9999 99"
                        [formControl]="createService.personalForm.controls.paymentMethod.controls.bankAccount"
                        placeholder="PL00 0000 0000 0000 0000 0000" />
                </div>
            </div>
        </div>
	</div>
</div>
