<div class="col-12">
	<div class="card px-6 py-6">
		<p-toast></p-toast>
		<p-toolbar styleClass="mb-4">
			<ng-template pTemplate="left">
				<div class="my-2">
					<button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="addClick()"></button>
					<button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedEmployees()" [disabled]="!selectedEmployees || !selectedEmployees.length"></button>
				</div>
			</ng-template>

			<ng-template pTemplate="right">
				<p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
				<button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
			</ng-template>
		</p-toolbar>

		<p-table #dt [value]="employees" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedEmployees" selectionMode="multiple" [rowHover]="true" dataKey="id">
			<ng-template pTemplate="caption">
				<div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
					<h5 class="m-0">Manage Emplopyees</h5>
					<span class="block mt-2 md:mt-0 p-input-icon-left">
						<i class="pi pi-search"></i>
						<input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
					</span>
				</div>
			</ng-template>
			<ng-template pTemplate="header">
				<tr>
					<th style="width: 3rem">
						<p-tableHeaderCheckbox></p-tableHeaderCheckbox>
					</th>
					<th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
					<th pSortableColumn="position">Position <p-sortIcon field="position"></p-sortIcon></th>
					<th pSortableColumn="contractType">Contract Type<p-sortIcon field="contractType"></p-sortIcon></th>
					<th pSortableColumn="ContractStartDate">Start of Contract<p-sortIcon field="ContractStartDate"></p-sortIcon></th>
					<th pSortableColumn="terminationDate">End of Contract <p-sortIcon field="terminationDate"></p-sortIcon></th>
					<th pSortableColumn="salary">Salary<p-sortIcon field="salary"></p-sortIcon></th>
					<th>BHP training status</th>
					<th>Medical exams status</th>
					<th></th>
				</tr>
			</ng-template>
            <ng-template pTemplate="body" let-employee>
					<tr>
						<td>
                            <p-tableCheckbox [value]="employee"></p-tableCheckbox>
                        </td>
						<td style="min-width: 200px;">
							<div class="flex align-items-start align-items-center">
								<img [src]="getImagePath(employee.imageName)" width="32" style="vertical-align: middle"/>
								<div>
									<span class="image-text ml-2">{{employee.name}} {{employee.surname}}</span><br/>
									<span *ngIf="employee.pesel" class="image-text ml-2">{{employee.pesel}}</span>
								</div>
							</div>
						</td>
						<td>
							<span>{{employee.position}}</span>
						</td>
						<td>
                            <ng-container *ngIf="!employee.contractType else contractDetails">
                                -
                            </ng-container>
                            
                            <ng-template #contractDetails>
                                {{employee.contractType}}<br>
                                {{employee.fteNumerator}}/{{employee.fteDenominator}}
                            </ng-template>
                        </td>
						<td>
							{{employee.contractStartDate | date: 'dd.MM.yyyy'}}
						</td>
                        <td>
							{{employee.terminationDate | date: 'MM.dd.yyyy'}}
							<span [class]="'employee-badge status-' + getStatusByDate(employee.terminationDate)">{{getStatusByDate(employee.terminationDate)}}</span>
						</td>
						<td>
							<ng-container *ngIf="!employee.salary else salaryInfo">
                                -
                            </ng-container>
                            
                            <ng-template #salaryInfo>
                                {{employee.salary | currency:'USD':'symbol'}}<br>
                                {{employee.salaryType}}
                            </ng-template>
						</td>
						<td>
							<span [class]="'employee-badge status-' + employee.bhpStatus">{{employee.bhpStatus}}</span>
						</td>
						<td>
							<span [class]="'employee-badge status-' + employee.medicalExamStatus">{{employee.medicalExamStatus}}</span>
						</td>

						<td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" ></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteEmployee(employee)"></button>
                            </div>
                        </td>
					</tr>
				</ng-template>
		</p-table>
	</div>

	<p-dialog [(visible)]="deleteEmployeeDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
		<div class="flex align-items-center justify-content-center">
			<i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
			<span *ngIf="employee">Are you sure you want to delete <b>{{employee.name}} {{employee.surname}}</b>?</span>
		</div>
		<ng-template pTemplate="footer">
			<button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteEmployeeDialog = false"></button>
			<button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
		</ng-template>
	</p-dialog>

	<p-dialog [(visible)]="deleteEmployeesDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
		<div class="flex align-items-center justify-content-center">
			<i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
			<span>Are you sure you want to delete selected employees?</span>
		</div>
		<ng-template pTemplate="footer">
			<button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteEmployeesDialog = false"></button>
			<button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
		</ng-template>
	</p-dialog>
</div>
