
<div class="card grid p-0">
	<div class="col-1 flex align-items-center">
		<p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left" [disabled]="active == 0"></p-button>
	</div>

    <p-steps class="col-10 pt-5 pb-3" #steps [activeIndex]="active" [model]="items" />

	<div *ngIf="active != items.length -1 else saveButton"
	 	class="col-1 flex align-items-center">
		<p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
	</div>

	<ng-template #saveButton>
		<div class="col-1 flex align-items-center">
			<p-button label="Save" severity="success" icon="pi pi-check" iconPos="right" (onClick)="saveForm()"></p-button>
		</div>
	</ng-template>
</div>

<ng-container [ngSwitch]="active">
	<ng-container *ngSwitchCase="0">
		<app-personal-data></app-personal-data>
	</ng-container>
	<div *ngSwitchCase="1">
		<app-contracts></app-contracts>
	</div>
	<div *ngSwitchCase="2">
		<app-medical-exams></app-medical-exams>
	</div>
	<div *ngSwitchCase="3">
		<app-training></app-training>
	</div>
</ng-container>
