
<div class="card">
	<div class="grid grid-nogutter justify-content-end">
		<p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
	</div>

    <p-steps #steps [activeIndex]="active" [model]="items" />

	<div class="grid grid-nogutter justify-content-end">
		<p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
	</div>
</div>

<ng-container [ngSwitch]="active">
	<div *ngSwitchCase="0">
		<app-personal-data></app-personal-data>
	</div>
	<div *ngSwitchCase="1">
		<app-contracts></app-contracts>
	</div>
</ng-container>
